oxatis/XSD/Characteristic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Characteristic" nillable="true" type="CharacteristicEntity" />
  <xs:complexType name="CharacteristicEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SupportAllLanguages" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SysName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Values" type="ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValueCodes" type="ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>