oxatis/XSD/Characteristics.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Characteristics" nillable="true" type="CharacteristicsEntity" />
  <xs:complexType name="CharacteristicsEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ItemSKU" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Characteristic" type="CharacteristicEntity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OxatisEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OxID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CharacteristicEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SupportAllLanguages" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SysName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Values" type="ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValueCodes" type="ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>