oxatis/XSD/ConnectorInfos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConnectorInfos" nillable="true" type="ConnectorInfosEntity" />
  <xs:complexType name="ConnectorInfosEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="LastDateOfUse" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>