oxatis/XSD/DiscountRuleCustomPrice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DiscountRuleCustomPrice" nillable="true" type="DiscountRuleCustomPriceEntity" />
  <xs:complexType name="DiscountRuleCustomPriceEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="UserIdEntity" type="UserIdEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="DiscountRuleEntity" type="DiscountRuleEntity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OxatisEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OxID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountRuleIdEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DiscountRuleEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="DiscountRuleIdEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="DiscountType" type="ProductDiscountType" />
          <xs:element minOccurs="1" maxOccurs="1" name="DiscountValue" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="DiscountCoupon" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridDiscountType" type="GridDiscountType" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep1Value" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep1Result" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep2Value" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep2Result" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep3Value" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep3Result" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep4Value" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep4Result" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep5Value" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep5Result" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep6Value" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep6Result" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep7Value" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep7Result" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep8Value" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep8Result" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep9Value" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep9Result" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep10Value" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GridLowerStep10Result" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="EndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowStrikePrice" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Active" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="StopProcessingDiscount" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="OriginalDiscount" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ProductDiscountType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Percentage" />
      <xs:enumeration value="NewPrice" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GridDiscountType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Quantity" />
      <xs:enumeration value="Amount" />
      <xs:enumeration value="NewPrice" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CatalogAccessValueEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TaxClassEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CategoryEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Language" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ParentOxId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UserIdEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UserEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="UserIdEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="BillingTitle" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Company" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="VATNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL3" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL4" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingZipCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingCity" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingState" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingStateName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingCountryISOCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingCountryName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingPhone" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingCellPhone" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingFax" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingTitle" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingFirstName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingLastName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingCompany" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingPhone" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddress" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL3" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL4" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingZipCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingCity" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingState" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingStateName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingCountryISOCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingCountryName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SalesRepCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SubscribeToNewletters" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomerAccount" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Category1" type="CategoryEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="Category2" type="CategoryEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="Category3" type="CategoryEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="Category4" type="CategoryEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="UserLanguage" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="PriceIndex" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="Discount" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="DiscountGridCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastUpdateDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressFloor" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressBuilding" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressStreet" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressOtherInfo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressFloor" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressBuilding" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressStreet" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressOtherInfo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FiscalCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BirthDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="RewardPoints" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="SubscribeToSMSCampaign" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="CustomFieldText1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CustomFieldText2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CustomFieldText3" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CustomFieldText4" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomFieldNumeric1" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomFieldNumeric2" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomFieldDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="CustomFieldTextInternal" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DiscountCartItems" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="CustomerFamily" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="TaxClass" type="TaxClassEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="CatalogAccessValues" type="ArrayOfCatalogAccessValueEntity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfCatalogAccessValueEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogAccessValue" nillable="true" type="CatalogAccessValueEntity" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>