oxatis/XSD/DiscountRuleComputeMode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DiscountRuleComputeMode" nillable="true" type="DiscountRuleComputeModeEntity" />
  <xs:complexType name="DiscountRuleComputeModeEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ComputeMode" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>