oxatis/XSD/OrderItem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderItem" nillable="true" type="OrderDetailEntity" />
  <xs:complexType name="OrderDetailEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OrderDetailBaseEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Quantity" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="PackagingQty" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" maxOccurs="1" name="BundledItems" type="ArrayOfOrderDetailBundledItemEntity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrderDetailBaseEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ItemOxID" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="ItemSKU" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ItemSKUOriginal" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ItemName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="GrossPrice" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GrossAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="TaxRate" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="DiscountRate" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="NetPrice" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="NetAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="VATAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="EcoTaxValueTaxIncl" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="DiscountCoupon" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Attribute1Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Attribute1Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Attribute2Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Attribute2Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="AttributeTextName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="AttributeTextValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemMainImageUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemThumbnailImageUrl" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option1Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option1Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option2Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option2Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option3Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option3Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Offered" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="PackagingName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LinkedTo" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OxatisEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OxID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderDetailBundledItemBaseEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ItemOxID" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="ItemSKU" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ItemName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="GrossPrice" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemMainImageUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemThumbnailImageUrl" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option1Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option1Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option2Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option2Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option3Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option3Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Offered" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrderDetailBundledItemEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OrderDetailBundledItemBaseEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Quantity" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfOrderDetailBundledItemEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BundledItem" nillable="true" type="OrderDetailBundledItemEntity" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>