oxatis/XSD/OrderAdd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderAdd" nillable="true" type="OrderBO" />
  <xs:complexType name="OrderBO">
    <xs:complexContent mixed="false">
      <xs:extension base="OrderBOBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="OrderItemArray" type="ArrayOfOrderItemBO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrderBOBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyISOCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="SourceOrderId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BillingContact" type="ContactBO" />
      <xs:element minOccurs="1" maxOccurs="1" name="ShippingContact" nillable="true" type="ContactBO" />
      <xs:element minOccurs="0" maxOccurs="1" name="CellPhone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Fax" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="VATNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FiscalCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="GlobalDiscountRate" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShippingInfo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShippingMethodName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ShippingPriceVATIncluded" nillable="true" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="ShippingPriceVATExcluded" nillable="true" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="ShippingTaxRate" nillable="true" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="PaymentFeesVATIncluded" nillable="true" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="PaymentFeesVATExcluded" nillable="true" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="PaymentFeesTaxRate" nillable="true" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="GrandTotalVATIncluded" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="SpecialInstructions" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentMethodName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LanguageISOCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ComputeOrderInVATExcludedMode" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="AddEcoTaxToPrice" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="ApplyLoyaltyProgram" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="OrderStatusCode" nillable="true" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="SourceTypeId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="PaymentTypeID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactBO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Company" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="AddressBO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressBO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Floor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Building" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Street" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OtherInfo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISOCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ZipCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfOrderItemBO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItem" nillable="true" type="OrderItemBO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderItemBO">
    <xs:complexContent mixed="false">
      <xs:extension base="OrderItemBOBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Quantity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrderItemBOBase">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Weight" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="PdtOptDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ParentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProductLanguageISOCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="UnitPriceVATIncluded" nillable="true" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="TaxRate" nillable="true" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="DiscountRate" nillable="true" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="EcoTaxValueTaxIncluded" nillable="true" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="UnitPriceVATExcluded" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>