oxatis/XSD/OrderId.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderId" nillable="true" type="OrderIdEntity" />
  <xs:complexType name="OrderIdEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OxatisEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OxID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderDetailBundledItemBaseEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ItemOxID" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="ItemSKU" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ItemName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="GrossPrice" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemMainImageUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemThumbnailImageUrl" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option1Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option1Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option2Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option2Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option3Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option3Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Offered" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrderDetailBundledItemEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OrderDetailBundledItemBaseEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Quantity" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrderDetailBaseEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ItemOxID" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="ItemSKU" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ItemSKUOriginal" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ItemName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="GrossPrice" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GrossAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="TaxRate" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="DiscountRate" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="NetPrice" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="NetAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="VATAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="EcoTaxValueTaxIncl" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="DiscountCoupon" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Attribute1Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Attribute1Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Attribute2Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Attribute2Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="AttributeTextName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="AttributeTextValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemMainImageUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemThumbnailImageUrl" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option1Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option1Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option2Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option2Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option3Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Option3Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Offered" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="PackagingName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LinkedTo" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrderDetailEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OrderDetailBaseEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Quantity" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="PackagingQty" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" maxOccurs="1" name="BundledItems" type="ArrayOfOrderDetailBundledItemEntity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfOrderDetailBundledItemEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BundledItem" nillable="true" type="OrderDetailBundledItemEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderTaxDetailEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TotalNetTaxExcl" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="TaxRate" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="TotalNetVATAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="TaxZoneRateID" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="TaxZoneRateName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrderSummaryEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OrderIdEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Date" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SubTotalVAT" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingPriceTaxExcl" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="NetAmountDue" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingVATAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="PaymentStatusCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProgressStateID" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="FollowUp" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="SubTotalNetVATExcluded" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="SourceTypeID" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="1" maxOccurs="1" name="CampaignTrackingID" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="Shipped" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="PaymentFeesTaxExc" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="PaymentFeesVATAmount" nillable="true" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrderBaseEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OrderSummaryEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="DispatchDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="UserEmail" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="UserOxID" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingCompany" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL3" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL4" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingAddressFloor" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingAddressBuilding" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingAddressStreet" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingAddressOtherInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingZipCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingState" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingStateName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingCountryISOCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingCountryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingCellPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingFax" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyVATNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingCompany" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddress" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL3" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL4" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingAddressFloor" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingAddressBuilding" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingAddressStreet" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingAddressOtherInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingZipCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingState" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingStateName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingCountryISOCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingCountryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="VATIncluded" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="EcoTaxIncluded" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="SubTotalNet" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="SubTotalNetDiscounted" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GlobalDiscountRate" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GlobalDiscountAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingID" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingMethodName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingProcessorCode" nillable="true" type="xs:short" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingParam1" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingParam2" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingTaxRate" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingPriceTaxIncl" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="EcoTaxAmountTaxIncl" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="CartCoupon" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LogisticsServiceProviderAccess" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LogisticsServiceProviderInstructions" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Language" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="PaymentMethodName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="PMProcessorCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="PaymentStatusLastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="RemoteIPAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SalesRepCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SalesRepFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SalesRepLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SpecialInstructions" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="InvoiceDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="InvoiceID" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="InvoiceFileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="InvoiceURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="InternalNote" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="FiscalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="TrackingNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SourceOrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="PointOfSales" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateOfDelivery" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateOfPicking" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="InvoiceStep" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" maxOccurs="1" name="CustomData" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="TransportName" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="TrackingUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomFieldText1" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomFieldText2" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomFieldText3" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomFieldText4" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomFieldNumeric1" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomFieldNumeric2" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomFieldDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingUserAddressID" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingUserAddressLabel" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="PaymentFeesTaxInc" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="PaymentFeesTaxRate" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="CashOnDelivery" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="OrderTaxDetails" type="ArrayOfOrderTaxDetailEntity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfOrderTaxDetailEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="OrderTaxDetailEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OrderBaseEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TotalWeight" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="OrderItems" type="ArrayOfOrderDetailEntity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfOrderDetailEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="OrderDetailEntity" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>