oxatis/XSD/PaymentTypeList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PaymentTypeList" nillable="true" type="PaymentTypeListEntity" />
  <xs:complexType name="PaymentTypeListEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="PaymentTypeIDs" type="ArrayOfPaymentTypeEntity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OxatisEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OxID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTypeEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="NameFR" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameEN" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameES" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameIT" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameNL" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameDE" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameCA" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NamePT" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfPaymentTypeEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentTypeID" nillable="true" type="PaymentTypeEntity" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>