oxatis/XSD/PriceVAT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PriceVAT" nillable="true" type="PriceVATModeEntity" />
  <xs:complexType name="PriceVATModeEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Value" nillable="true" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="VATIncluded" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>