oxatis/XSD/ProgressStateList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProgressStateList" nillable="true" type="ProgressStateListEntity" />
  <xs:complexType name="ProgressStateListEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ProgressStateList" type="ArrayOfProgressStateEntity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OxatisEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OxID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProgressStateIdEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProgressStateEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="ProgressStateIdEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Color" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameFR" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameEN" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameES" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameDE" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameIT" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameNL" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CommentFR" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CommentEN" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CommentES" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CommentDE" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CommentIT" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CommentNL" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Publish" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="SendMail" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="UpdateOrders" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreateInvoice" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameCA" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NamePT" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CommentCA" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CommentPT" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfProgressStateEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgressState" nillable="true" type="ProgressStateEntity" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>