oxatis/XSD/Quantity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Quantity" nillable="true" type="QuantityEntity" />
  <xs:complexType name="QuantityEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Value" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Append" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>