oxatis/XSD/SalesRepList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SalesRepList" nillable="true" type="SalesRepListEntity" />
  <xs:complexType name="SalesRepListEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SalesRepsID" type="ArrayOfSalesRepIdEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfSalesRepIdEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesRepID" nillable="true" type="SalesRepIdEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SalesRepIdEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OxatisEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OxID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>