oxatis/XSD/TaxClassList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TaxClassList" nillable="true" type="TaxClassListEntity" />
  <xs:complexType name="TaxClassListEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="TaxClasseArray" type="ArrayOfTaxClassEntity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OxatisEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OxID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxClassEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfTaxClassEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxClass" nillable="true" type="TaxClassEntity" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>