oxatis/XSD/TaxEngineMode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TaxEngineMode" nillable="true" type="TaxEngineModeEntity" />
  <xs:complexType name="TaxEngineModeEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="EngineMode" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="DefaultCountryISOCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DefaultState" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DefaultZipCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>