oxatis/XSD/TaxRule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TaxRule" nillable="true" type="TaxRuleEntity" />
  <xs:complexType name="TaxRuleEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Priority" type="xs:short" />
          <xs:element minOccurs="0" maxOccurs="1" name="UserTaxClassArray" type="ArrayOfTaxClassOxIdEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductTaxClassArray" type="ArrayOfTaxClassOxIdEntity1" />
          <xs:element minOccurs="0" maxOccurs="1" name="TaxZoneRateArray" type="ArrayOfTaxZoneRateOxIdEntity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OxatisEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OxID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxZoneRateOxIdEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TaxClassOxIdEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfTaxClassOxIdEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTaxClass" nillable="true" type="TaxClassOxIdEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfTaxClassOxIdEntity1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductTaxClass" nillable="true" type="TaxClassOxIdEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfTaxZoneRateOxIdEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxZoneRate" nillable="true" type="TaxZoneRateOxIdEntity" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>