oxatis/XSD/TaxRateList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TaxRateList" nillable="true" type="TaxRateListEntity" />
  <xs:complexType name="TaxRateListEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="TaxRateIDs" type="ArrayOfTaxRateEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="VATCountryISOCode" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OxatisEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OxID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRateEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="CountryName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CountryISOCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Code" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Value" nillable="true" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfTaxRateEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxRateID" nillable="true" type="TaxRateEntity" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>