oxatis/XSD/TaxZoneRateList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TaxZoneRateList" nillable="true" type="TaxZoneRateListEntity" />
  <xs:complexType name="TaxZoneRateListEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="TaxZoneRateArray" type="ArrayOfTaxZoneRateEntity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OxatisEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OxID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxZoneRateEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="NameDE" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameEN" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameES" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameFR" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameIT" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameNL" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameCA" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NamePT" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="TaxRate" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="CountryISOCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ZipCodeFilterType" type="xs:unsignedByte" />
          <xs:element minOccurs="0" maxOccurs="1" name="ZipCodeFilterRule" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ZipCodeFilterMin" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="ZipCodeFilterMax" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="Weight" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfTaxZoneRateEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxZoneRate" nillable="true" type="TaxZoneRateEntity" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>